@mixin flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}
@mixin flex-space {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
@mixin margin-center {
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
}