@import "./components/header";
@import "./components/btn";
@import "./abstracts/mixin";
@import "./abstracts/variables";

*, *::after, *::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.header {
	background-color: rgba(231, 222, 222, 0.3);

	&__menu {
		@include flex-space;
		padding: 10px 0 10px 0;
		@include margin-center;

		.menu__logo {
			width: 130px;
			height: 80px;
		}
		.menu__login {
			font-family: $main-ff;
			color: $main-color
		}
	}
}

.wrapper {
	background-image: url("../img/background.jpg");
	height: 900px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;

	.main {
		@include margin-center;
		
	}
}